<div class='container mt-2'>
  <div class='card shadow-sm'>
    <div class='card-body p-0'>
      <div class='card-text p-3'>
        <p id='comment'>This is so epic. You really think like this?</p>
        <p id='userInfo' class='mt-2 pt-2'>Posted by Alexis at 22134123</p>
      </div>
    </div>
  </div>
</div>