<div class='container mt-2'>
  <div class='card shadow-sm'>
    <div class='card-body p-0'>
        <div class='card-header d-flex flex-row align-items-center justify-content-between border-0'>
            <h3 class=''>Title</h3>
            <p>posted by aaa</p>
        </div>
    </div>
  </div>
</div>