<div class='container mt-2'>
  <div class='card shadow-sm'>
    <div class='card-body p-0'>
        <div class='card-header d-flex flex-row align-items-center justify-content-between'>
            <h3 class=''>Title</h3>
            <p>posted by aaa</p>
        </div>
      <p class='card-text p-3'>Did you know that you shouldn't put water on top of your computer? Idiot?</p>
    </div>
  </div>
</div>