<div class='container mt-2'>
  <div class='card shadow-sm'>
    <div class='card-body p-0'>
      <div class='card-header d-flex flex-row align-items-center justify-content-between'>
        <h3>Add a Comment</h3>
      </div>
      <div class='input-group'>
        <div class='container d-flex flex-column p-3'>
          <div class='mb-3'>
            <h3>Content</h3>
            <textarea
              class='form-control mt-1'
              placeholder='Content'
              aria-label='Content'
            ></textarea>
          </div>
          <div class='d-grid col-sm-6 col-md-3 mx-auto my-1'>
            <button class='btn btn-primary'>Submit</button>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>