:root {
    /* Fonts */
    --header-font: 'Saira Semi Condensed', sans-serif;
    --font: 'Nunito', sans-serif;
    /* Color Palette */
    --color-bg: #E8F1E1;        /* Honeydew */
    --color-text:#36372d;       /* Black Chocolate */
    --color-accent1: #9DCDC0;   /* Middle Blue Green */
    --color-accent2: #D59F82;   /* Antique Brass */
    --color-hover: #909085;     /* Middle Gray */         
}

body {
    background-color: var(--color-bg);
}

p, input, textarea, button {
    color: var(--color-text) !important;
    font-family: var(--font) !important;
    margin: 0;
    resize: none;
}

h1 {
    font-weight: 600;
}

h1, h3, a {
    font-family: var(--header-font);
    color: var(--color-text);
    text-decoration: none;
    margin: 0;
}

header {
    border-bottom: 2px solid var(--color-accent1);
}

button {
    background-color: var(--color-accent2) !important;
    border: none !important;
}

.card {
    border: 2px solid var(--color-accent1);
}

.card-header {
    background-color: var(--color-accent1);
    border-radius: 0px !important;
}

.link-primary, .nav-link, h1>a {
    color: var(--color-text) !important;
    transition: 0.5s !important;
}

.link-primary:hover {
    color: var(--color-hover) !important;
}

.nav-link:hover, h1>a:hover {
    color: var(--color-accent1) !important;
}

#userInfo {
    border-top: 2px solid var(--color-accent1);
}